* {
  font-family: 'Gill Sans', sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
polygon {
  fill: yellow;
}
.stars {
  padding-left: 25%;
  padding-right: 5%;
}
#photo {
  width: 300px;
  height: 200px;
}
.card {
  border: 1px solid #888;
  width: 350px;
  box-shadow: 5px 5px 2px 2px #d5d3d3;
  border-radius: 5px;

  /*created using http://www.colorzilla.com/gradient-editor/*/
  background: rgb(235, 241, 246); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(235, 241, 246, 1) 0%,
    rgba(171, 211, 238, 1) 50%,
    rgba(137, 195, 235, 1) 51%,
    rgba(213, 235, 251, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(235, 241, 246, 1) 0%,
    rgba(171, 211, 238, 1) 50%,
    rgba(137, 195, 235, 1) 51%,
    rgba(213, 235, 251, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgba(235, 241, 246, 1) 0%,
    rgba(171, 211, 238, 1) 50%,
    rgba(137, 195, 235, 1) 51%,
    rgba(213, 235, 251, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#ebf1f6',
      endColorstr='#d5ebfb',
      GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
}
.img {
  display: block;
  margin: 0 auto;
}
.info {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #888;
  width: 280px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
}
span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
